<launch>

  <!-- Launch the city driving on real robot. Launches safety controller, controller node, cone detection node, and the homography transformer, line following -->
  
  <!-- Safety controller -->
  <!--<node pkg="safety_controller" name="safety_controller" type="safety_controller.py" output="screen">
  </node> -->
   <include file="$(find zed_wrapper)/launch/zed.launch" />
  <!-- Parking-->
  <node pkg="final_challenge_2022" name="parking_controller" type="parking_controller.py" output="screen">
  	<param name="drive_topic" value="/vesc/ackermann_cmd_mux/input/navigation" />
  </node>
  <!-- I wonder if we can have multiple nodes with the same name?
        We might also need to put files into a src folder? -->
  <node pkg="final_challenge_2022" name="stop_sign_location_transform" type="city_driving/stop_sign_location_transform.py" output="screen">
  </node>

  <node pkg="image_transport" name="republish" type="republish" args="raw in:=/cone_debug_img out:=/cone_debug_img_compressed" output="screen"></node>

</launch>
